@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 .slide-enter-active{
    animation: slide-in 0.3s ease
}
.slide-leave-active{
    animation: slide-out 0.3s ease;
}